.l-img
  padding 1rem
  margin 40px 0
  background-color #fff
  border-radius 0.1875rem
  display flex
  justify-content center
  align-items center
  box-shadow 2px 2px 30px #C7CCD7

for heightValue in range(50, 1000, 50)
  img[alt *= \"height={heightValue}\"]
    height heightValue px

for widthValue in range(50, 1000, 50)
  img[alt *= \"width={widthValue}\"]
    width widthValue px